# Server
APP_SERVER__PORT=4000

# DB
DATABASE_URL=postgres://admin:admin@localhost:5432/onchain_data?sslmode=disable
APP_DATABASE__MAX_CONNECTIONS=10

# ClickHouse
APP_CLICKHOUSE__URL=http://localhost:8123
APP_CLICKHOUSE__USER=default
APP_CLICKHOUSE__PASSWORD=
APP_CLICKHOUSE__DB=onchain_data

# Chain
APP_CHAIN__RPC_URL=https://mainnet.infura.io/v3/YOUR_API_KEY
APP_CHAIN__CHAIN_ID=1
APP_CHAIN__START_BLOCK=18000000 
APP_CHAIN__REORG_DEPTH=64

sslmode=disable
